
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @availabilities.each do |d| %>
      <tr>
        <td><%= d.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>